DATA_DIR=./data
CABB_PATH=./data
PINNACLE_PATH=./data/pinnacle

# AWS S3 Configuration
S3_BUCKET_NAME=your-bucket-name
S3_RAW_PREFIX=raw
S3_CURATED_PREFIX=curated
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1
