# Environment Variables
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=pasaporte55
AIRFLOW_PROJ_DIR=.
PROXY_URL=http://host.docker.internal:8080
CERT_PATH=./mitmproxy-ca-cert.cer

DATA_DIR=./data
DB_PATH=./data/database.db
CABB_PATH=./data
PINNACLE_PATH=./data/pinnacle

# AWS S3 Configuration
S3_BUCKET_NAME=lbn-basket
S3_RAW_PREFIX=raw
S3_CURATED_PREFIX=curated
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
